_.*
.idea/
RO-BL01MKTPE01
blah
commit.exp
conf_blah
config
config.del
config.del.auto-ex
config.set
config.set.auto-ex
config.stanza
cpe-scp.exp
cpes
cpes.bak
demo_config
demo_routers
device_configs/
expect_push.sh
generic_config_push.py
logs/
routers
routers.bak
routers.mkt
rpc.py
rt_blah
scp.exp
test.exp
test_config
unisphereDictionary_for_JUNOS_v16-1.dct

